@page
@model HelpModel

<div class="container-fluid align-items-center w-50 help-table">
    <div class="row">
        <div class="col-md fw-bold">
            On-screen controls
        </div>
        <div class="col-md fw-bold">
            Keyboard controls
        </div>
        <div class="col-md fw-bold">
            Description
        </div>
    </div>
    <div class="row">
        <div class="col-md">
            <img src="images/arrow-up.png" />
        </div>
        <div class="col-md">
            W
        </div>
        <div class="col-md">
            Moves the robot forwards
        </div>
    </div>
    <div class="row">
        <div class="col-md">
            <img src="images/arrow-down.png" />
        </div>
        <div class="col-md">
            S
        </div>
        <div class="col-md">
            Moves the robot backwards
        </div>
    </div>
    <div class="row">
        <div class="col-md">
            <img src="images/arrow-left.png" />
        </div>
        <div class="col-md">
            A
        </div>
        <div class="col-md">
            Moves the robot left
        </div>
    </div>
    <div class="row">
        <div class="col-md">
            <img src="images/arrow-right.png" />
        </div>
        <div class="col-md">
            D
        </div>
        <div class="col-md">
            Moves the robot right
        </div>
    </div>
    <div class="row">
        <div class="col-md">
            <img src="images/plus.png" />
        </div>
        <div class="col-md">
            L-Shift
        </div>
        <div class="col-md">
            Accelerates the robot
        </div>
    </div>
    <div class="row">
        <div class="col-md">
            <img src="images/minus.png" />
        </div>
        <div class="col-md">
            L-Ctrl
        </div>
        <div class="col-md">
            Decelerates the robot
        </div>
    </div>
    <div class="row">
        <div class="col-md">
            <img src="images/clockwise.png" />
        </div>
        <div class="col-md">
            E
        </div>
        <div class="col-md">
            Moves the robot's head clockwise
        </div>
    </div>
    <div class="row">
        <div class="col-md">
            <img src="images/counter-clockwise.png" />
        </div>
        <div class="col-md">
            Q
        </div>
        <div class="col-md">
            Moves the robot's head counter clockwise
        </div>
    </div>
</div>