@page
@model RemoteModel

@section Styles{
    <link rel="stylesheet" href="~/css/remote.css" />
}

<div class="container-fluid w-50">
    <div class="row">
        <div class="col-md">
            @*<div class="camera-feed">Camera feed</div>*@
            <img class="camera-feed" src="http://10.213.90.68:9000/mjpg" />
        </div>
    </div>
    <div class="row">
        <div class="col-md">
            <div class="row">
                <div class="col-md button-Q">
                    <img src="images/counter-clockwise.png" />
                </div>
                <div class="col-md button-W">
                    <img src="images/arrow-up.png" />
                </div>
                <div class="col-md button-E">
                    <img src="images/clockwise.png" />
                </div>
            </div>
            <div class="row">
                <div class="col-md button-A">
                    <img src="images/arrow-left.png" />
                </div>
                <div class="col-md button-S">
                    <img src="images/arrow-down.png" />
                </div>
                <div class="col-md button-D">
                    <img src="images/arrow-right.png" />
                </div>
            </div>
        </div>
    </div>
</div>
<div id="errorMessage"></div>

@section Scripts {
    <script src="~/js/keyboardlistener.js"></script>
    <script src="~/js/htmlelementlistener.js"></script>
    <script src="~/lib/microsoft/signalr/dist/browser/signalr.js"></script>
    <script>
        var keyBoardListener = new KeyBoardListener();
        var htmlElementListener = new HtmlElementListener("button");
        var connection = new signalR.HubConnectionBuilder().withUrl("/robotcommandhub").build();

        connection.start().catch(function (err) {
            return console.error(err.toString());
        });

        $(keyBoardListener).bind('movementChanged', function (event, movement) {
            self.setUiState(movement);

            connection.invoke("MovementChanged", movement)
                .then(function (msg) {
                    var rsp = msg.commandResponses;
                    if (rsp && rsp.length > 0) {
                        var err = '';
                        for (var i = 0; i < rsp.length; i++) {
                            if (rsp[i].responseCode != 0) {
                                err += rsp[i].message + "<br/>"
                            }
                        }
                        document.getElementById("errorMessage").innerHTML = err;
                    }
                })
                .catch(function (err) {
                    return console.error(err.toString());
                });
        });

        $(htmlElementListener).bind('movementChanged', function (event, movement) {
            self.setUiState(movement);

            connection.invoke("MovementChanged", movement)
                .then(function (msg) {
                    var rsp = msg.commandResponses;
                    if (rsp && rsp.length > 0) {
                        var err = '';
                        for (var i = 0; i < rsp.length; i++) {
                            if (rsp[i].responseCode != 0) {
                                err += rsp[i].message + "<br/>"
                            }
                        }
                        document.getElementById("errorMessage").innerHTML = err;
                    }

                })
                .catch(function (err) {
                    return console.error(err.toString());
                });
        });

        function setUiState(movement) {
            var turnHeadLeft = $('.button-Q img');
            var turnHeadRight = $('.button-E img');
            var forward = $('.button-W img');
            var backward = $('.button-S img');
            var left = $('.button-A img');
            var right = $('.button-D img');

            if (movement.forward === true) {
                $(forward).attr('src', 'images/arrow-up-pressed.png');
            }
            else {
                $(forward).attr('src', 'images/arrow-up.png');
            }

            if (movement.backward === true) {
                $(backward).attr('src', 'images/arrow-down-pressed.png');
            }
            else {
                $(backward).attr('src', 'images/arrow-down.png');
            }

            if (movement.left === true) {
                $(left).attr('src', 'images/arrow-left-pressed.png');
            }
            else {
                $(left).attr('src', 'images/arrow-left.png');
            }

            if (movement.right === true) {
                $(right).attr('src', 'images/arrow-right-pressed.png');
            }
            else {
                $(right).attr('src', 'images/arrow-right.png');
            }

            if (movement.turnHeadLeft === true) {
                $(turnHeadLeft).attr('src', 'images/counter-clockwise-pressed.png');
            }
            else {
                $(turnHeadLeft).attr('src', 'images/counter-clockwise.png');
            }

            if (movement.turnHeadRight === true) {
                $(turnHeadRight).attr('src', 'images/clockwise-pressed.png');
            }
            else {
                $(turnHeadRight).attr('src', 'images/clockwise.png');
            }
        }
    </script>
}